body{
    background-color: #e0e0e0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#main{
    margin: 0;
    height: 100%;
    width: 100%;
}
header,footer{
    background-color: rosybrown;
}
#radission-container{
    margin: 2% 4% 0% 4%;
}
#form{
    margin: 0 4% 1% 4%;;
}
#hotel-description{
    margin: 1% 4% 2% 4%;
}