#radission-container{
    margin: 2% 4% 0% 4%;
}
#form{
    margin: 0 4% 1% 4%;;
}
#hotel-description{
    margin: 1% 4% 2% 4%;
}
#radission-img {
    height: 350px;
    width: 600px;
    padding-left: 30%;
}
#content{
    overflow:hidden;
    margin-bottom: 60px;
}
#content{
    display: flex;
    flex-direction: column;
}
#table{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 2%;
    max-height: 400px;
    justify-content: space-between;
}
#form{
    display: flex;
    flex-direction: column;
    
    border-left: 1px solid black;
    
    padding-top: 10px;
    height: 400px;
    padding-left: 1em;
}
.form-inn{
    display: flex;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    margin: 0em 1em 1.2em 1em;
    margin-right: 10px;
}
.form-inn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.input{
    padding-left: 10px;
    margin-left: 10px;
}

#bookbutton{
    margin-left: 30%;
    margin-right: 15%;
}
#head1,#head2,#head3{
    font-family: cursive;
    font-weight: bold;
}
.input-form{
    max-width: 250px;
}
.date{
    margin:auto 30px auto 30px ;
}
.dateclass{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}
