#form{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
#city {
    margin-left: 15%;
    margin-right: 15%;
}
.city-img{
    margin: 10px;
    border-radius: 25%;
}
.city-img {
    height: 150px;
    width: 150px;
}
#forminput{
    position: absolute;
    top: 250px;
    left: 600px;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 30%;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
}
#city-maindiv {
    padding: 100px 10px;
    text-align: center;
    border-top: 5px;
}
#content{
    display: flex;
    flex-direction: column;
}
input:focus{
    outline: none;
}
.city{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.Container-city{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    position: relative;
    height: 150px;
    width: 150px;   
}
.city-img{
    opacity: .9;
    display: block;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 10px 10px 10px gray;
} 
.middle {
    opacity: 0;
    position: absolute;
    top: 7%;
    left: 7%;
    height: 150px;
    width: 150px;
    text-align: center;  
    background-color: rgba(0, 0, 0, .5);  
    background-size:contain; 
    border-radius: 25%; 
}
.Container-city:hover .middle {
    opacity: 1;
    color: #f1f1f1; 
}
.cities{
    margin-top: 43%;
}
#view-more{
    margin-top: 100px;
}

