
.hotel-container{
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
}
.hotel-img {
    height: 250px;
    width: 250px;
}
#view{
    text-align: center;    
}
ul li{
    display: inline;
    justify-content: center;
    font-weight: bold;
}
li{
    padding-left: 40px;
    padding-top: 40px;
}
#map-view{
    display: none;
}
#hotel-1{
    width: 35%;
    float: left;
}
#hotel-2{
    width: 35%;
    float: right;    
}
#hotel-3{
    width: 35%;
    float: left;
    clear: none;
}
.hotel-container{
    padding: 50px;
}
#list-view{
    padding-bottom: 10px;
}
#content{
    overflow-y: auto;
    margin-bottom: 60px;
}


