
.hotel-container{
    margin:2%;
    background-color: lightgray;
}
.hotel-img {
    height: 250px;
    width: 250px;
    margin-left: 0px;
}
ul{
    display: inline;
    justify-content: center;
    font-weight: bold;
}
li{
    padding-left: 40px;
    padding-top: 40px;
}
#hotel-1{
    width: 35%;
    float: left;
}
#hotel-2{
    width: 35%;
    float: right;    
}
#hotel-3{
    width: 35%;
    float: left;
}
.hotel-container{
    padding: 50px;
}
#list-view{
    padding-bottom: 10px;
}
#content{
    overflow:auto;
    margin-bottom: 60px;
}
.hotel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#image3{
    padding: 0px;
}
#hotel-1,#hotel-2,#hotel-3{
    background-color: lightgray;
    width: 600px;
    height: 250px;
    padding: 0px;
}
#anchor{
    display: flex;   
}
#detail-2,#detail-3,#detail-1{
    padding-left: 10px;
}
.hotel-container:hover div{
    width: 350px;
    background-color: rosybrown;
}
.checked,.half{
    color: orange;
}

@media only screen and (min-width:576px) and (max-width:768px){
    #list-view{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 50px;
        margin-right: 50px;
    }
    #hotel-1,#hotel-2,#hotel-3{
        background-color: lightgray;
        width: 500px;
        height: 250px;
        padding: 0px;
    }
    #map-img{
        width: 100%;
    }
}
@media only screen and (max-width:576px){
    #list-view{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #map-img{
        width: 100%;
    }
   
}
