#hotel-detail{
   
    display: flex;
    flex-direction: row;
    background-color: rgb(132,136,139);
    height: auto;
    max-width: 65%;
    margin: 2% auto;
    gap: 30px;
    
}
#radission-img {
   
    height: 250px;
    width: 100%;
}
#customer-detail{
    margin: 2%;
}
#tariff-detail{
    margin-top: 10%;
    padding-top: 5%;
}
#content{
    overflow-y: auto;
    margin-bottom: 100px;   
}
#content{
    display: flex;
    flex-direction: column;
}
#hotel-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#allDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rosybrown;
}
#tariff-details{
   display:flex;
   flex-direction: column;
   justify-content: space-around;
}
#pay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hotelDetail{
    padding-top: 10px;
}
.personDetails{
    font-family: cursive;
}
strong{
    font-family: cursive;
}
@media only screen and (max-width:576px){
    #content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #hotel-detail{
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-top: 50%;
        padding-bottom: 50%;
        margin-bottom: 50px;   
    }
    #customer-detail{
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        margin-right: 40%;  
    }
}
@media only screen and (min-width:576px) and (max-width:768px){
    #allDetails{
        font-weight: 1px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}
@media only screen and (min-width:768px){
    #allDetails{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rosybrown;
    }
}